[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
django-cleanup = "*"
django-seed = "*"
django-dotenv = "*"
django-ckeditor = "*"
gulp = "*"
django-ckeditor-5 = "*"
dicebear = "*"
svglib = "*"

[requires]
python_version = "3.6"

[dev-packages]
