{% load static %}
<link rel="stylesheet" href="{%  static  'css/navbar.css'  %}">

<nav class="vertical-menu-wrapper closed-menu">
  <div class="vertical-menu-logo">
    <div>LOGO</div>
    <span class="open-menu-btn"><hr><hr><hr></span>
  </div>
  <ul class="vertical-menu">
      <li><a href="{% url 'posts:promotions' %}">학교 생활</a></li>
      <li>택시타요</li>
      <li>학과별 게시판</li>
      <li>기숙사 이야기</li>
      <li>꿀팁을 전수한다</li>
    <hr/>
      <li><a href="{% url 'iostream:main'%}">#include IOSTREAM</a></li>
      <li><a href="{% url 'posts:iostar-notice'%}">IOSTAR 공지사항</a></li>
      <li><a href="{% url 'posts:promotions' %}">한 번 보고 가(홍보)</a></li>
    <hr/>
    <li>진로이야기</li>
    <li>취준과 직장</li>
    <li>대학원생 도비</li>
    <li>스타트업에서는</li>
    <hr />
    <li>쉴 때 뭐해?</li>
    <li>운동, 헬스, 건강</li>
    <li>게임</li>
    <li>주식, 코인</li>
    <li>요리, 베이킹, 커피</li>
    <li>반려동물</li>
    <hr/>
    <li id="user-info">MJ<span>online</span></li>
  </ul>
</nav>

<script src="{% static 'jsfiles/navbar.js' %}"></script>


<!--
참고: https://codepen.io/MijeongLee/pen/LYEXMzR


-->