{% load static %}
<link rel="stylesheet" href="{%  static  'css/navbar.css'  %}">

<nav class="vertical-menu-wrapper closed-menu">
  <div class="vertical-menu-logo">
    {% if user.is_verified %}
      <div><a href="{{user.get_absolute_url}}">{{user.last_name}}</a></div>
    {% else %}
      <div>IOSTAR</div>
    {% endif %}
    <span class="open-menu-btn"><hr><hr><hr></span>
  </div>
  <ul class="vertical-menu">
    {% if user.is_verified %}
      {% if user.school %}
      <li class="vertical-title"><a href="{% url 'schoolposts:home' school_name=user.school %}">학교 생활</a></li>
      <li>택시타요</li>
      <li><a herf="">학과별 게시판</a></li>
      <li><a herf="">기숙사 이야기</a></li>
      <li><a herf="">꿀팁을 전수한다</a></li>
      {% endif %}
    {% else %}
      <a href="{% url 'schoolposts:login-required'%}">
        <li class="vertical-title">학교 생활</li>
        <li>택시타요</li>
        <li>학과별 게시판</li>
        <li>기숙사 이야기</li>
        <li>꿀팁을 전수한다</li>
      </a>
    {% endif %}
    <hr/>
      <li class="vertical-title"><a href="{% url 'posts:promotions' %}"></a>학교 생활</a></li>
      <li><a href="{% url 'iostream:main'%}">#include IOSTREAM</a></li>
      <li><a href="{% url 'posts:iostar-notice'%}">IOSTAR 공지사항</a></li>
      <li><a href="{% url 'posts:promotions' %}">한 번 보고 가(홍보)</a></li>
    <hr/>
      <li class="vertical-title">진로이야기</li>
      <li>대학원생 도비</li>
      <li>취직준비와 회사생활</li>
      <li>스타트업에서는</li>
    <hr />
      <li class="vertical-title">쉬는 날 뭐 해?</li>
      <li><a href="{% url 'posts:post_lists' band_title='junkcolumn' %}">알아둬도 쓸데없는 이야기</a></li>
      <li></li>
    <hr/>
  </ul>
</nav>

<script src="{% static 'jsfiles/navbar.js' %}"></script>


<!--
참고: https://codepen.io/MijeongLee/pen/LYEXMzR


-->