.header-options {
    display: flex;
    justify-content: space-between;
    /* background: linear-gradient(#062c43, #5591a9); */
    padding-right: 20px;
}

ul {
    list-style-type: none;
}

header > div {
    margin-right: 10px;
}

.header-authentificated {
    display: flex;
    justify-content: space-between;
}

.header-button{
    margin-right: 15px;
    background: #FFFFFF;
    border: 1px solid black;
    border-radius: 20%;
    padding: 10px;
}

img {
    width: 35vmin;
    height: 10vmin;
}

.search-box {
    background-color:#333333;
    border: 1px solid black;
    border-radius: 3px;
    height: 7vmin;
    width: 35vmin;
    font-family: 'Courier New', Courier, monospace;
}