.masonry-container {
    --gap: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--gap);
    grid-auto-rows: 10px;
}

@media screen and (max-width: 720px) {
    .masonry-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 400px) {
    .masonry-container {
        display: block;
    }

    .masonry-item {
        margin-bottom: var(--gap)*10px;
    }
}

/* ignore this */

.pseudo-img {
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    object-fit: cover;
    width: 100%;
    height: auto;
    max-height: 600px;

}

.masonry-item-title {
    display: block;
}

.masonry-item-nickname {
    display: block;
}

.pseudo-img > img {
    width: 100%;
    height: auto;
    background-repeat : no-repeat;
    background-position:center;
    background-size: contain;
}
