body {
  margin: 0;
  font-family: Arial;
  width: 100%;
  background: #181824;
}

nav {
  width: 100%;
  max-width: 240px;
  bottom: 0; top: 0;
  display: block;
  min-height: 300px;
  height: 100%;
  color: #ccc;
  opacity: 0.8;
  transition: all 300ms;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
}

.vertical-menu-wrapper {
  position: fixed;
}

nav .vertical-menu {
  overflow-x: hidden;
  overflow-y: scroll;
}
nav .vertical-menu hr{opacity: 0.1; border-width: 0.5px;}
nav ul{width: 90%; padding-inline-start: 0; margin: 10px; height: calc(100% - 20px); }
nav .vertical-menu-logo{padding: 20px; font-size: 1.3em; position: relative}
nav .vertical-menu-logo .open-menu-btn{width: 30px; height: max-content; position: absolute; display: block; right: 20px; top: 0; bottom: 0; margin: auto; cursor: pointer;}
nav .vertical-menu-logo .open-menu-btn hr{margin: 5px 0}
nav li{list-style: none; padding: 10px 10px; cursor: pointer;}
nav li:hover{ color: rgba(75, 105, 176,1); }
nav li#user-info{position: fixed; bottom: 0; width: 80%; background-color: #181824;}
nav li#user-info > span{display: block; float: right; font-size: 0.9em; position: fixed; opacity: 0.6;}
nav li#user-info > span:after{
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  position: fixed;
  background: green;
  left: -20px; top: 0; bottom: 0;
  margin: auto;
  border-radius: 50%;
}

nav li:last-child{
  color:antiquewhite;
}

.closed-menu .content-wrapper{
  width: 100%;
  left: 50px;
}

.content-wrapper{
  position:absolute;
  /* width: calc(100% - 240px); */
  width: 100%;
  height: 100%;
  background: #fff;
  left: 240px;
  padding: 20px;
}

.content-wrapper{
    transition: all 300ms;
}
.vertical-menu-wrapper .vertical-menu-logo div{transition: all 100ms;}
.closed-menu .vertical-menu-wrapper .vertical-menu-logo div{
  margin-left: -100px;
}
.vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{transition: all 300ms;}
.closed-menu .vertical-menu-wrapper .vertical-menu-logo .open-menu-btn{
  left: 7px;
  right: 100%;
}

.closed-menu .vertical-menu-wrapper ul,.closed-menu .vertical-menu-wrapper hr{margin-left: -300px;}
.vertical-menu-wrapper ul, .vertical-menu-wrapper hr{transition: all 100ms;}
/* .content-wrapper{background: #ebebeb;} */
.content{
  width: 98%;
  min-height: 100%;
  border-radius: 20px;
  padding: 10px;
}


.vertical-menu:last-child {
  padding-bottom: 30px;
}

.vertical-title {
  overflow: hidden;
  text-align: center;
}

.vertical-title:before,
.vertical-title:after {
  background-color: #FFF;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.vertical-title:before {
  right: 0.5em;
  margin-left: -50%;
}

.vertical-title:after {
  left: 0.5em;
  margin-right: -50%;
}