{% extends "base.html" %}
{% block page_name %}
posts main
{% endblock page_name %}
{% block content %}
{% load static %}
{% load custom_tags %}
{% if posts %}
<div class="mx-auto w-3/5 bg-blue-50">
    {% for post in posts %}
        {% include 'mixins/post_card.html' with post=post %}
    {% endfor %}
</div>
{% else %}
    <div class="">
    포스트가 없습니다
    </div>
{% endif %}

<div class="flex items-center justify-center mx-auto container">
    {% if page_obj.has_previous %}
        <a href="?page={{page_obj.previous_page_number}}" class="text-teal-500">
            <i class="fas fa-arrow-left fa-lg"></i>
        </a>
    {% endif %}

{% if page_obj.has_next  %}
    <a href="?page={{page_obj.next_page_number}}" class="text-teal-500">
        <i class="fas fa-arrow-right fa-lg"></i>
    </a>
{% endif %}
</div>

{% endblock %}