{% extends "base.html" %}
{% block page_name %}
masonry
{% endblock page_name %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%  static  'css/masonry_list.css'  %}">
<div class="masonry-container">
    {% for post in posts %}
    <div class ="masonry-item bg-gray-100">
        <a href="{{post.pk}}">
            <div class="pseudo-img">
                {% if post.first_photo is None %}
                    <img src="{% static 'images/no_pic_icon2.webp' %}">
                {% else %}
                    <img src="{{post.first_photo}}">
                {% endif %}
            </div>
        <div class="masonry-item-title">{{post.title}}</div>
        <div class="masonry-item-nickname">{{post.author.nickname}}</div>
        </a>
    </div>

    {% endfor %}
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style= "height: 240px; background-color:red"
        >1</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 240px; background-color: orange"
        >2</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 240px; background-color: yellow"
        >3</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 300px; background-color: chartreuse"
        >4</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 720px; background-color: green"
        >5</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 490px; background-color: cyan"
        >6</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 270px; background-color: blue; color: white"
        >7</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 620px; background-color: navy; color: white"
        >8</div>
    </div>
    <div class="masonry-item">
        <div
            class="pseudo-img"
            style="height: 130px; background-color: purple; color: white"
        >9</div>
    </div>
</div>

  <!-- {% for post in posts %}
  <div class ="item">
    일단 여기 include post card 부분 빼둠 
    <div class="bg-gray-100 p-3.5 m-2 max-w-md rounded-2xl">
      <a href="{{post.pk}}">
          <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2 " style="background-image: url({{post.first_photo}});"></div>
      <div class="text-2xl">{{post.title}}</div>
      <div class="view_count">{{post.created}}</div>
      
    </div>
  
  {% endfor %}-->
<script src="{% static 'jsfiles/masonry_list.js' %}"></script>
{% endblock %}


<!--
  {% for post in posts %}
    <div class ="item">{% include 'mixins/posts/post_card.html' with post=post %}</div>
  {% endfor %}
  </div>


참고한 자료:
ui를 masonry library를 이용하여 
https://tympanus.net/codrops/2013/07/02/loading-effects-for-grid-items-with-css-animations/
이게 안된다면 이걸로 시도해볼것
https://codepen.io/charlotteosborne/pen/dyZGJzg

https://codepen.io/javiluli_dev/pen/WNZyjqd 이것도 괜찮군


https://codepen.io/kaz_hashimoto/pen/RwjMvbL
<- 위에서부터 차례차례 1234로 들어감

https://marshallku.com/web/tips/css-grid%EB%A1%9C-masonry-%EB%A0%88%EC%9D%B4%EC%95%84%EC%9B%83-%EB%A7%8C%EB%93%A4%EA%B8%B0
현재 이거 보고 참고하고 있음
-->