{% extends "base.html" %}
{% block page_title %}
    {{post.title}}
{% endblock page_title %}
{% block content %}
{% load static %}
<div class="overflow-y-auto overflow-x-hidden w-2/3 m-auto bg-lime-100 h-full">
  <div class="post_content w-full m-auto h-full bg-blue-50">
    <div class="text-2xl font-mono"> {{post.title}} </div>
    <hr class="border-solid border-1 border-neutral-200">
    promotion detail page: {{ post.content | safe }}
  </div>
           {% if comments %}
           <div class="row mt-5">
               <div class="col-lg-6 offest-lg-3">
                Comment{{ comments.count|pluralize }}
                <span class="badge badge-dark ml-2">{{ comments.count }}</span>
               </div>
           {% for comment in comments %}
           <div class="col-lg-6 offset-lg-3 mt-2">
            <div class="card p-2">
              <div class="row">
                <div class="col-12">
                  <img class="rounded-circle mr-2" src="{% static 'img/avatar.svg' %}" alt="Avatar">
                  <strong>{{ comment.name }}</strong> said
                </div>
                <div class="col-12">
                  <p class="m-1 mt-3">{{ comment.comment }}</p>
                  <p class="text-right text-muted"><small>{{ comment.created }}</small></p>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        {% endif %}

        <!-- form to leave comments -->
        {% if user.is_authentificated %}
          user is authen
        {% endif %}
        <div class="">
              <form method='POST'>
                {% csrf_token %}
                <div class="form-group">
                  <textarea class="form-control outline-rose-400 w-full h-16 border-1 {% if form.comment.errors %}is-invalid{% endif %}" id="id_content"
                    name="comment">{{ form.comment.value|default:'leave a comment' }}</textarea>
                </div>
                <button class="btn btn-primary ml-2" type="submit">Reply</button>
              </form>
          </div>
        
        </div>
            
        </div>
        <div class="w-1/3">
            {% if post.author == user %}
                <a href="{% url 'posts:edit' post.pk %}" class="btn-link block">Edit post</a>
                <a href="{% url 'posts:post_delete' post.pk %}" class="btn-link block">Delete post</a>
            {% endif %}
        </div>
</div>
{% endblock %} 